html {
    height: 100%;
}
body {
    margin: 0;
    min-height: 100%;
    background-color: #eaceb4;
}
.logo_nav{
    display:flex;
    justify-content:center;
}
.logo{
    width: 600px;
}
.imagen_tortas {
    width: 300px;
    margin: 10px;
}
.titulo_categoria {
    margin: 0;
    font-family: "Style Script", cursive;
    font-size: 35px;
    text-decoration: none;    
    color: #6a687a;
}
.titulo_categoria h1{
    margin: 0;
}
.titulo_categoria:hover {
    color: #ffffff;
    text-decoration: underline;
}
.titulo_item{
    color: coral;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    font-family: "Style Script", cursive;
    font-size: 50px;
    margin:15px;
}
.productos{
    color: #6a687a;
    font-weight: bold;
    font-size: 25px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    border-radius: 5px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-weight: bold;
    font-family: "Style Script", cursive;
    font-size: 25px;
    cursor: pointer;
    margin: 5px;
}
.parrafo_contador{
    color: coral;
    font-size: 50px;
    margin:15px;
    display: flex;
    justify-content: center;
}
footer {
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: "Style Script", cursive;
    font-weight: bold;
    color: #ffffff;
}
